#about__me {
    width: 100%;
    height: 100vh;
}
.about__me {
    display: flex;
    justify-content: space-between;
    padding-left: 30px;
}
.about__me h1 {
    color: #ffffff;
}
.about__me p {
    color: #ffffff;
    line-height: 25px;
    word-spacing: 3px;
}
.text__about___me {
    max-width: 800px;
}
.text__about___me a {
    color: #00d2df;
}
.img__about___me img {
    width: 250px;
    border-radius: 50%;
    margin: 60px 80px 0 0 ;
    border: solid 2px #00d2df;
}
/*=========Cards social medias===========*/

.container_cards {
    display: flex;
    width: 100%;
    height: 50%;
    justify-content: center;
    align-items: center;
    perspective: 1000px;
    background: #000000;
} 
.card {
    position: relative;
    width: 8rem;
    height: 8rem;
    margin: 0 5rem;
    text-align: center;
    line-height: 8rem;
    color: #07c4ce;
    border-radius: 0.8rem;
    transform-style: preserve-3d;
    cursor: pointer;
   
}
.card a {
    color: #e7e6e6;
}
.face {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 0.8rem;
    background-size: cover;
    background-position: center center;
    transition: transform 0.5s ease-in-out;
    
}
.face--front {
    background: #360033;
    background: -webkit-linear-gradient(to right, #0b8793, #360033);
    background: linear-gradient(to right, #0b8793, #360033); 
    font-size: 3rem;
    z-index: 1;
}
.face--back {
    background: #360033;
    background: -webkit-linear-gradient(to right, #0b8793, #360033);
    background: linear-gradient(to right, #0b8793, #360033); 
    font-size: 1.2rem;
    transform: rotateX(90deg); 
}
.card:hover .face--front {
    transform: rotateX(-90deg);
   
}
.card:hover .face--back {
    transform: rotateX(0deg);
    z-index: 1;
    background: url("images/ralph-the-simpsons.gif")center / cover no-repeat;
    
    
}
.container__responsive {
    display: none;
}

/* ======== Responsive ==========*/

@media screen and (max-width: 425px){
    #about__me {
        width: 100%;
        height: 80vh;
    }
    .about__me {
        display: flex;
        flex-direction: column-reverse;
        padding-left: 30px;
    }
    .img__about___me img {
        width: 150px;
        border-radius: 50%;
        border: solid 2px #00d2df;
        margin: 0;
        margin-left: 200px;
    }
    .about__me h1 {
        color: #ffffff;
        margin: 0;
    }
    .container_cards{
        display: none;
    }
    .container__responsive {
        display: flex;
        justify-content: space-evenly;
        margin-top: 30px;
    }
    .icon {
        font-size: 30px;
        filter: invert(78%) sepia(73%) saturate(3508%) hue-rotate(134deg) brightness(95%) contrast(101%);
    }
}